.hmblog_h3
{
    text-align: center;
    font-size: xx-large;
    font-family: system-ui;
    color: darksalmon;
    margin-top: 80px;
}
.hmblog
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}
.hmblog_img
{
    width: 95%;
    position: relative;
    border: 1px solid  gainsboro;
}
.hmblog_p1
{
    font-size: x-large;
    font-family: system-ui;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.hmblog_p3
{
    width: 350px;
}
.hmblog_btn
{
    padding: 12px 36px;
    margin-top: 22px;
    font-size: large;
    border-radius: 30px;
    border: none;
}
.hmblog_btn:hover
{
    background-color: crimson;
    color: ghostwhite;
    cursor: pointer;
}
.hmblog_div1
{
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 25px 0px;
    height: 490px;
    justify-content: space-between;
}