.slider_homeimg
{
    width: 100%;
}
.swiper
{
    margin-left: 14%;
    margin-right: 40%;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    /* border: 1px solid; */
    bottom: 345px;
    left: 490px;
}
.swiper-button-next, .swiper-button-prev, .swiper-pagination
{
    display: none;
}
