.Home_banner_div
{
    background-image: url(../../Assets/Banners/banner-bg.jpg);
    background-repeat: no-repeat;
    height: 500px;
 
}
.Home_stand
{
    width: 44%;
    align-self: flex-end;
    
}
.Home_flex
{
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    padding: 0px 90px;
}
.Home_flex_div
{
}
.Home_p
{
    font-size: larger;
    color: darkgray;
    font-weight: 400;
}
.Home_p1
{
    font-size: xxx-large;
    margin: 20px 0;
    color: royalblue;
    font-weight: 900;
}
#span_home
{
    background: black;
    color: aliceblue;
    padding: 0px 10px;
}
#span_home:hover{
    background: chartreuse;
    color: honeydew;
    transition: all 0.5s;
}
.Home_p2
{
    font-size: larger;
    font-weight: 500;
}