.Home_banner_div {
  background-image: url(../../Assets/Banners/banner-bg.jpg);
  background-repeat: no-repeat;
  height: 500px;
}
.Home_stand {
  width: 44%;
  align-self: flex-end;
}
.Home_flex {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
  padding: 0px 90px;
}
.Home_p {
  font-size: larger;
  color: darkgray;
  font-weight: 400;
}
.Home_p1 {
  font-size: xxx-large;
  margin: 20px 0;
  color: royalblue;
  font-weight: 900;
}
#span_home {
  background: black;
  color: aliceblue;
  padding: 0px 10px;
}
#span_home:hover {
  background: chartreuse;
  color: honeydew;
  transition: all 0.5s;
}
.Home_p2 {
  font-size: larger;
  font-weight: 500;
}
.diagram
{
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.dia_div
{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-evenly;
    font-weight: 500;
}
.dia_div1_p
{
    font-size: x-large;
    font-weight: 500;
}
.dia_div1_p1
{
    color: darkgray;
}


.home_bnner{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.home_bnner_div1, .home_bnner_div2{
  position: relative;
  /* background: mediumpurple; */
}
.home_bnner_sub1, .home_bnner_sub2
{
  position: absolute;
  top: 40px;
  left: 370px;
  color: ghostwhite;
}
.home_bnner_div1_h3, .home_bnner_div2_h3
{
  font-size: xx-large;
  font-weight: 800;
}
.home_bnner_div1_p, .home_bnner_div2_p
{
  font-size: larger;
}
.home_filter
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  border-bottom: 2px solid ;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.home_filter_btn
{
  padding: 14px 26px;
  font-size: large;
  background: lightgray;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.home_filter_btn:focus
{
  background-color: black;
  color: ghostwhite;
  box-shadow: 2px 4px 8px 2px black;
}
.home_filter_h3
{
  text-align: center;
  font-size: xx-large;
  color: lightcoral;
}
.home_filter_p
{
  text-align: center;
  font-size: larger;
  font-family: sans-serif;
  color: darkgray;
}
