.onebook {
  background-color: black;
  color: lavender;
  height: 100vh;
  position: fixed;
  width: 100vw;
}
.onebook_main {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}
.onebook_img_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.onebook_content_div {
  border: 2px solid yellow;
  color: lavender;
}
.onebook_img {
    width: 300px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 6px 2px whitesmoke;
}
.onebook_btn {
  padding: 16px 70px;
  font-size: x-large;
  margin-top: 30px;
  background: crimson;
  color: lavender;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 2px dimgrey;
  cursor: pointer;
}
.onebook_btn:active {
    box-shadow: 1px 3px 7px 3px darkslategrey;
    background-color: darkcyan;
    color: lavender;
}
.onebook_content_h1
{
    font-size: 60px;
}
.onebook_content_h3
{
    font-size: 30px;
}